@tailwind base;
@tailwind components;
@tailwind utilities;

progress {
  border-radius: 10px;
  height: 10px;
}
progress::-webkit-progress-bar {
  background: #ebebeb;
  /* background-color: yellow; */
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background: red;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  /* box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8); */
}
#making-progress::-webkit-progress-value {
  background: #8bc488;
  border-radius: 7px;
}
@media (min-width: 1280px) {
  #home-component {
    padding-left: 300px;
  }
  .disable-scroll {
    overflow: hidden;
  }
}
.transition-smooth {
  transition: all 0.5s;
}
@media (max-width: 1250px) {
  .hide-top {
    top: -150% !important;
  }
  .show-top {
    top: 0% !important;
  }
}
